<h1>New Profile</h1>

<%= form_for :profile do |f| %>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </p>

  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>






<p>Find me in app/views/profile/new.html.erb</p>
