<nav class="navbar navbar-default",>
  <div class="container-fluid",>
      <div class="navbar-header",>
        <button type "button" class='navbar-toggle collapsed','satisfy', data-toggle='collapse'
        data-target="#bs-example-navbar-1">
        <span class="sr-only"> Toggle Navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "iPassport", root_path, class: "navbar-brand Amatic" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
        <ul class="nav navbar-nav pull-right">
          <li> <%=link_to "My Profile", account_profiles_path %></li>
          <li> <%=link_to "New Profile", new_account_profile_path %></li>
          <li> <%=link_to "My Passports", '#' %></li>
          <li> <%=link_to "Update Profile", '#'%></li>
          <li> <%=link_to "My Trips", trips_path %></li>
          <li> <%=link_to "New Trip!", new_trip_path, class:"active" %></li>
          <li> <%=image_tag current_user.image_url, alt: current_user.name %> </li>
          <li> <%=link_to 'Sign Out', signout_path, class: 'btn btn-xs', method: :delete %> </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav pull-right">
          <li> <%= link_to 'Sign in', '/auth/twitter', class: 'btn btn-lg' %> </li>
          <li> <%=link_to "Test", test_path, class: 'btn btn-lg' %> </li>

        </ul>
        <% end %>
      </ul>
      </div>
  </div>
</nav>
